image:
  repository: "lowc1012/thumbnail-api-server"
  pullPolicy: IfNotPresent
  tag: "0.0.1"
podSecurityContext:
  fsGroup: 1000
  runAsUser: 1000
configs:
  TZ: Asia/Tokyo
  CELERY_BROKER_URL: redis://redis:6379/0
  CELERY_BACKEND_URL: db+postgresql://postgres:postgres@postgresql:5432/thumbnail_db
  S3_ENDPOINT_URL: http://minio:9000
  S3_BUCKET_NAME: thumbnail-api-server-lowc1012
  S3_KEY_PREFIX: images
secrets:
  AWS_ACCESS_KEY_ID: minioadmin
  AWS_SECRET_ACCESS_KEY: minioadmin
  DATABASE_URL: postgresql://postgres:postgres@postgresql:5432/thumbnail_db

app:
  server:
    service:
      name: server
      port: 8080
    replicaCount: 1
    autoscaling:
      enabled: false
    command: [ "python" ]
    execArgs: [ "-m", "app.main" ]
    resources: { }
    initContainers: [ ]
    podAnnotations: { }
    podLabels: { }
    podSecurityContext: { }
    livenessProbe:
      httpGet:
        path: /health
        port: 8080
      initialDelaySeconds: 30
    readinessProbe:
      httpGet:
        path: /health
        port: 8080
      initialDelaySeconds: 5
    nodeSelector: { }
    tolerations: [ ]
    affinity: { }
    ingress:
      enabled: false
      className: ""
      annotations: { }
      hosts: [ ]
      tls: [ ]

  worker:
    replicaCount: 1
    autoscaling:
      enabled: false
    command: [ "celery" ]
    execArgs: [ "-A", "app.internal.tasks.celery:celery_app", "worker", "--loglevel=debug" ]
    resources: { }
    initContainers: [ ]
    podAnnotations: { }
    podLabels: { }
    podSecurityContext: { }
    livenessProbe:
      exec:
        command:
          - "/bin/sh"
          - "-c"
          - "celery -A app.internal.tasks.celery:celery_app inspect ping -d celery@$HOSTNAME"
      initialDelaySeconds: 30
      periodSeconds: 30
      timeoutSeconds: 10
      failureThreshold: 3
    readinessProbe: { }
    nodeSelector: { }
    tolerations: [ ]
    affinity: { }

minio:
  enable: true
  defaultBucket: thumbnail-api-server-lowc1012

redis:
  enable: true

postgresql:
  enable: true
